In [1]:
import pandas as pd

In [2]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=False, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=False, compact_ints=False, use_unsigned=False, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file ://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used automatically. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the data.
        Default behavior is as if set to 0 if no ``names`` passed, otherwise
        ``None``. Explicitly pass ``header=0`` to be able to replace existing
        names. The header can be a list of integers that specify row locations for
        a multi-index on the columns e.g. [0,1,3]. Intervening rows that are not
        specified will be skipped (e.g. 2 in this example is skipped). Note that
        this parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of data
        rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list are not
        allowed unless mangle_dupe_cols=True, which is the default.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : array-like or callable, default None
        Return a subset of the columns. If array-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid array-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz'].

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    as_recarray : boolean, default False
        DEPRECATED: this argument will be removed in a future version. Please call
        `pd.read_csv(...).to_records()` instead.

        Return a NumPy recarray instead of a DataFrame after parsing the data.
        If set to True, this option takes precedence over the `squeeze` parameter.
        In addition, as row indices are not available in such a format, the
        `index_col` parameter will be ignored.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    skip_footer : int, default 0
        DEPRECATED: use the `skipfooter` parameter instead, as they are identical
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'nan'`.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and parse_dates is enabled, pandas will attempt to infer the format
        of the datetime strings in the columns, and if it can be inferred, switch
        to a faster method of parsing them. In some cases this can increase the
        parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and parse_dates specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call date_parser in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by parse_dates) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by parse_dates into a single array
        and pass that; and 3) call date_parser once for each row using one or more
        strings (corresponding to the columns defined by parse_dates) as arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer', then use gzip,
        bz2, zip or xz if filepath_or_buffer is a string ending in '.gz', '.bz2',
        '.zip', or 'xz', respectively, and no decompression otherwise. If using
        'zip', the ZIP file must contain only one data file to be read in.
        Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
        with `header=0` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        Leave a list of tuples on columns as is (default is to convert to
        a Multi Index on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    buffer_lines : int, default None
        DEPRECATED: this argument will be removed in a future version because its
        value is not respected by the parser
    compact_ints : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If compact_ints is True, then for any column that is of integer dtype,
        the parser will attempt to cast it as the smallest integer dtype possible,
        either signed or unsigned depending on the specification from the
        `use_unsigned` parameter.
    use_unsigned : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If integer columns are being compacted (i.e. `compact_ints=True`), specify
        whether the column should be compacted to the smallest signed or unsigned
        integer dtype.
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [3]:
copacabana = pd.read_csv('copacabana.csv', delimiter=';')

In [4]:
copacabana.head()

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
0,1,3.0,0.01,1144,311,146,969501,1028834,999168,1750,509,37.0,1,95,4379,685365.0700,7457802.680
1,0,2.0,0.01,2456,502,254,1472861,1137759,1305310,2300,484,30.0,1,71,6479,685941.5500,7459001.320
2,0,2.0,0.01,2448,772,229,1803724,1512475,1658100,2350,920,44.0,1,58,12414,685627.3900,7459080.520
3,0,2.0,0.01,1615,428,310,1124331,1370600,1247466,2200,930,43.0,1,88,11250,685438.2001,7458268.280
4,0,2.0,1.00,2358,586,287,1165764,1177933,1171849,2150,918,42.0,1,68,13382,685764.3840,7458954.513

In [5]:
copacabana['Quartos'].describe()

count    1675.000000
mean        1.767510
std         1.142523
min         0.010000
25%         1.000000
50%         2.000000
75%         3.000000
max         6.000000
Name: Quartos, dtype: float64

In [6]:
len(copacabana)

1675

In [7]:
copacabana[copacabana['Quartos'] == 6]

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
748,1,6.0,2.0,2500,35,743,1524600,1275377,1399989,4100,360,58.0,1,668,4491,686456.25,7458801.05

In [8]:
quartos6 = copacabana[copacabana['Quartos'] == 6].iloc[0]

In [9]:
quartos6

Posicao                 1.00
Quartos                 6.00
Vagas                   2.00
DistIpanema          2500.00
DistPraia              35.00
DistFavela            743.00
RendaMedia        1524600.00
RendaMovel        1275377.00
RendaMovelRua     1399989.00
Vu2009               4100.00
Mes                   360.00
Idade                  58.00
Tipologia               1.00
AreaConstruida        668.00
VAL_UNIT             4491.00
X                  686456.25
Y                 7458801.05
Name: 748, dtype: float64

In [10]:
quartos6['VAL_UNIT'] * quartos6['AreaConstruida']

2999988.0

In [11]:
copacabana[copacabana['Quartos'] == 5]

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
173,1,5.0,0.01,2696,154,712,1083455,649733,866594,2000,425,55.0,1,38,6316,686522.9800,7458989.87
1521,1,5.0,3.00,3044,31,609,1524600,1168222,1346411,4100,405,34.0,1,430,5000,686965.3201,7459109.71

In [22]:
copacabana['TOTAL'] = copacabana['VAL_UNIT'] * copacabana['AreaConstruida']

In [23]:
copacabana['TOTAL']

0        416005
1        460009
2        720012
3        990000
4        909976
5        790024
6        670015
7        249990
8        319990
9        299997
10       390000
11       299992
12       410000
13       749990
14       625022
15       619972
16       309986
17       340032
18       760000
19       870020
20       250005
21       340005
22       210000
23       139995
24       270000
25        90000
26       350010
27       450022
28       329975
29       210033
         ...
1645     792984
1646    1393956
1647     810027
1648    1800022
1649     886990
1650     969992
1651     499968
1652     560032
1653     284984
1654    2199998
1655    2179944
1656     300011
1657     180000
1658     280016
1659     229992
1660     342012
1661     699996
1662     710024
1663    1320000
1664     300024
1665     700024
1666     390000
1667     434980
1668     219996
1669     639975
1670     479940
1671     402040
1672     600020
1673     766705
1674     683871
Name: TOTAL, Length: 1675, dtype: int64

In [12]:
populacao_pe = pd.read_excel('total_populacao_pernambuco.xls')

In [13]:
populacao_pe.head()

,Código do município,Nome do município,Total da população 2000,Total de homens,Total de mulheres,Total da população urbana,Total da população rural,Total da população 2010
0,2600054,Abreu e Lima,89039.0,45165.0,49263.0,86589.0,7839.0,94428.0
1,2600104,Afogados da Ingazeira,32922.0,16790.0,18301.0,27406.0,7685.0,35091.0
2,2600203,Afrânio,15014.0,8751.0,8837.0,5859.0,11729.0,17588.0
3,2600302,Agrestina,20036.0,10938.0,11742.0,16955.0,5725.0,22680.0
4,2600401,Água Preta,28531.0,16581.0,16465.0,18708.0,14338.0,33046.0

In [14]:
populacao_pe['Total da população 2010']

0        94428.0
1        35091.0
2        17588.0
3        22680.0
4        33046.0
5        40007.0
6        13761.0
7        37414.0
8        22363.0
9        21925.0
10       10204.0
11       18144.0
12       77363.0
13       69157.0
14       12765.0
15       40720.0
16       11349.0
17       20236.0
18       72412.0
19       12005.0
20       58675.0
21       35178.0
22       45506.0
23       37828.0
24       37570.0
25        8851.0
26        7307.0
27       45192.0
28       12537.0
29       51990.0
         ...
157      17000.0
158      79241.0
159      18331.0
160      33723.0
161      40306.0
162       5744.0
163      58444.0
164      26430.0
165      12704.0
166      22073.0
167      20745.0
168      24923.0
169       6737.0
170       9256.0
171      53823.0
172      35631.0
173      13055.0
174      26116.0
175      15006.0
176      24254.0
177       7925.0
178      16064.0
179       9142.0
180       7894.0
181      18267.0
182      30731.0
183     130540.0
184      14092.0
185    8796032.0
186          NaN
Name: Total da população 2010, Length: 187, dtype: float64

In [15]:
populacao_pe.columns

Index(['Código do município', 'Nome do município', 'Total da população 2000',
       'Total de homens', 'Total de mulheres', 'Total da população urbana',
       'Total da população rural', 'Total da população 2010'],
      dtype='object')

In [16]:
populacao_pe.columns = ['Codigo', 'Nome', 'Total2000',
       'TotalHomens', 'TotalMulheres', 'TotalUrbana',
       'TotalRural', 'Total2010']

In [17]:
populacao_pe.head()

,Codigo,Nome,Total2000,TotalHomens,TotalMulheres,TotalUrbana,TotalRural,Total2010
0,2600054,Abreu e Lima,89039.0,45165.0,49263.0,86589.0,7839.0,94428.0
1,2600104,Afogados da Ingazeira,32922.0,16790.0,18301.0,27406.0,7685.0,35091.0
2,2600203,Afrânio,15014.0,8751.0,8837.0,5859.0,11729.0,17588.0
3,2600302,Agrestina,20036.0,10938.0,11742.0,16955.0,5725.0,22680.0
4,2600401,Água Preta,28531.0,16581.0,16465.0,18708.0,14338.0,33046.0

In [18]:
populacao_pe.sort_values('Total2010')

,Codigo,Nome,Total2000,TotalHomens,TotalMulheres,TotalUrbana,TotalRural,Total2010
60,2605459,Fernando de Noronha,2051.0,1294.0,1335.0,2629.0,0.0,2629.0
81,2607406,Itacuruba,3669.0,2132.0,2237.0,3708.0,661.0,4369.0
78,2607109,Ingazeira,4567.0,2290.0,2206.0,2456.0,2040.0,4496.0
35,2603405,Calumbi,7079.0,2723.0,2928.0,2181.0,3470.0,5651.0
162,2614402,Solidão,5532.0,2902.0,2842.0,1831.0,3913.0,5744.0
131,2611533,Quixaba,6855.0,3322.0,3413.0,2491.0,4244.0,6735.0
169,2615102,Terezinha,6300.0,3271.0,3466.0,2860.0,3877.0,6737.0
69,2606309,Granito,6110.0,3453.0,3404.0,3178.0,3679.0,6857.0
26,2602506,Brejinho,7278.0,3608.0,3699.0,3386.0,3921.0,7307.0
73,2606705,Ibirajuba,7438.0,3791.0,3743.0,3140.0,4394.0,7534.0
180,2616183,Vertente do Lério,8536.0,3878.0,4016.0,1813.0,6081.0,7894.0
177,2615904,Tuparetama,7766.0,3852.0,4073.0,6351.0,1574.0,7925.0
38,2603603,Camutanga,7844.0,4081.0,4066.0,6525.0,1622.0,8147.0
116,2610103,Palmeirina,9536.0,3985.0,4203.0,5178.0,3010.0,8188.0
25,2602407,Brejão,8916.0,4338.0,4513.0,3571.0,5280.0,8851.0
179,2616100,Verdejante,8846.0,4484.0,4658.0,2692.0,6450.0,9142.0
170,2615201,Terra Nova,7518.0,4702.0,4554.0,5015.0,4241.0,9256.0
137,2612109,Salgadinho,7139.0,4670.0,4617.0,3062.0,6225.0,9287.0
10,2601003,Angelim,9082.0,5019.0,5185.0,6089.0,4115.0,10204.0
93,2608255,Jucati,9695.0,5272.0,5332.0,2828.0,7776.0,10604.0
47,2604304,Cedro,9551.0,5391.0,5387.0,6291.0,4487.0,10778.0
147,2612802,Santa Terezinha,10251.0,5385.0,5606.0,6876.0,4115.0,10991.0
118,2610301,Paranatama,10348.0,5506.0,5495.0,2238.0,8763.0,11001.0
34,2603306,Calçado,11709.0,5566.0,5559.0,3810.0,7315.0,11125.0
108,2614303,Moreilândia,11116.0,5595.0,5542.0,6843.0,4294.0,11137.0
136,2612000,Sairé,13649.0,5534.0,5708.0,6305.0,4937.0,11242.0
127,2611200,Poção,11178.0,5375.0,5867.0,6988.0,4254.0,11242.0
16,2601508,Belém de Maria,10626.0,5637.0,5712.0,7988.0,3361.0,11349.0
61,2605509,Ferreiros,10727.0,5656.0,5781.0,9169.0,2268.0,11437.0
88,2607950,Jaqueira,11653.0,5719.0,5794.0,7089.0,4424.0,11513.0
...,...,...,...,...,...,...,...,...
163,2614501,Surubim,50331.0,27931.0,30513.0,44004.0,14440.0,58444.0
20,2601904,Bezerros,57371.0,28051.0,30624.0,49747.0,8928.0,58675.0
115,2610004,Palmares,55790.0,28802.0,30722.0,46880.0,12644.0,59524.0
124,2610905,Pesqueira,57721.0,30547.0,32246.0,45026.0,17767.0,62793.0
57,2605202,Escada,57341.0,31151.0,32384.0,53985.0,9550.0,63535.0
114,2609907,Ouricuri,56733.0,31688.0,32647.0,32577.0,31758.0,64335.0
13,2601201,Arcoverde,61600.0,32563.0,36594.0,62899.0,6258.0,69157.0
18,2601706,Belo Jardim,68698.0,34765.0,37647.0,58208.0,14204.0,72412.0
43,2604007,Carpina,63811.0,35540.0,39311.0,72061.0,2790.0,74851.0
68,2606200,Goiana,71177.0,36651.0,38997.0,58045.0,17603.0,75648.0
70,2606408,Gravatá,67273.0,37032.0,39637.0,68389.0,8280.0,76669.0
12,2601102,Araripina,70898.0,37884.0,39479.0,46975.0,30388.0,77363.0
158,2613909,Serra Talhada,70912.0,37831.0,41410.0,61288.0,17953.0,79241.0
79,2607208,Ipojuca,59281.0,39840.0,40702.0,59640.0,20902.0,80542.0
143,2612505,Santa Cruz do Capibaribe,59048.0,42335.0,45203.0,85562.0,1976.0,87538.0
0,2600054,Abreu e Lima,89039.0,45165.0,49263.0,86589.0,7839.0,94428.0
74,2606804,Igarassu,82277.0,49313.0,52674.0,93888.0,8099.0,101987.0
156,2613701,São Lourenço da Mata,90402.0,50032.0,52924.0,96812.0,6144.0,102956.0
66,2606002,Garanhuns,117749.0,60962.0,68430.0,115344.0,14048.0,129392.0
183,2616407,Vitória de Santo Antão,117609.0,62685.0,67855.0,113481.0,17059.0,130540.0
36,2603454,Camaragibe,128702.0,69237.0,75269.0,144506.0,0.0,144506.0
30,2602902,Cabo de Santo Agostinho,152977.0,90887.0,94236.0,167830.0,17293.0,185123.0
126,2611101,Petrolina,218538.0,143283.0,150798.0,219309.0,74772.0,294081.0
122,2610707,Paulista,262237.0,141718.0,158893.0,300611.0,0.0,300611.0
44,2604106,Caruaru,253634.0,149146.0,165805.0,278098.0,36853.0,314951.0
111,2609600,Olinda,367902.0,173654.0,201905.0,368119.0,7440.0,375559.0
87,2607901,Jaboatão dos Guararapes,581556.0,304840.0,339859.0,630683.0,14016.0,644699.0
132,2611606,Recife,1422905.0,709063.0,827871.0,1536934.0,0.0,1536934.0
185,Total,Pernambuco,7918344.0,4229897.0,4566135.0,7049868.0,1746164.0,8796032.0
186,"Fonte: IBGE, Resultados do Censo 2010.",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
numeros = pd.Series([1,2,3,4])

In [25]:
numeros * pd.Series([2,3,4,5])

0     2
1     6
2    12
3    20
dtype: int64

In [26]:
resultado = numeros * pd.Series([2,3,4,5])

In [28]:
resultado.apply(lambda i: '%02d' % i)

0    02
1    06
2    12
3    20
dtype: object

In [29]:
resultado.apply(lambda i: '%.2f' % i)

0     2.00
1     6.00
2    12.00
3    20.00
dtype: object

In [33]:
formatar = lambda i: '%.2f' % i

In [35]:
formatar

In [36]:
formatar(10)

'10.00'