In [1]:
dataset = [
    ['leite', 'cebola', 'manteiga', 'feijão', 'ovos', 'iogurte'],
    ['sal', 'cebola', 'manteiga', 'feijão', 'ovos', 'iogurte'],
    ['leite', 'maça', 'feijão', 'ovos'],
    ['leite', 'arroz', 'pipoca', 'feijão', 'iogurte'],
    ['pipoca', 'cebola', 'feijão', 'sorvete', 'ovos']
]

In [4]:
import pandas as pd
from mlxtend.preprocessing import OnehotTransactions

In [5]:
oht = OnehotTransactions()

In [6]:
oht_array = oht.fit(dataset).transform(dataset)
df = pd.DataFrame(oht_array, columns=oht.columns_)

In [7]:
df

,arroz,cebola,feijão,iogurte,leite,manteiga,maça,ovos,pipoca,sal,sorvete
0,0,1,1,1,1,1,0,1,0,0,0
1,0,1,1,1,0,1,0,1,0,1,0
2,0,0,1,0,1,0,1,1,0,0,0
3,1,0,1,1,1,0,0,0,1,0,0
4,0,1,1,0,0,0,0,1,1,0,1

In [8]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.6)

    support   itemsets
0       0.6        [1]
1       1.0        [2]
2       0.6        [3]
3       0.6        [4]
4       0.8        [7]
5       0.6     [1, 2]
6       0.6     [1, 7]
7       0.6     [2, 3]
8       0.6     [2, 4]
9       0.8     [2, 7]
10      0.6  [1, 2, 7]

In [10]:
apriori(df, min_support=0.7, use_colnames=True)

   support        itemsets
0      1.0        [feijão]
1      0.8          [ovos]
2      0.8  [feijão, ovos]

In [11]:
freq_items = apriori(df, min_support=0.6, use_colnames=True)
freq_items['tamanho'] = freq_items['itemsets'].apply(lambda x: len(x))
freq_items

    support                itemsets  tamanho
0       0.6                [cebola]        1
1       1.0                [feijão]        1
2       0.6               [iogurte]        1
3       0.6                 [leite]        1
4       0.8                  [ovos]        1
5       0.6        [cebola, feijão]        2
6       0.6          [cebola, ovos]        2
7       0.6       [feijão, iogurte]        2
8       0.6         [feijão, leite]        2
9       0.8          [feijão, ovos]        2
10      0.6  [cebola, feijão, ovos]        3

In [12]:
freq_items.columns = ['Suporte', 'ConjuntoItens', 'Tamanho']

In [13]:
freq_items

    Suporte           ConjuntoItens  Tamanho
0       0.6                [cebola]        1
1       1.0                [feijão]        1
2       0.6               [iogurte]        1
3       0.6                 [leite]        1
4       0.8                  [ovos]        1
5       0.6        [cebola, feijão]        2
6       0.6          [cebola, ovos]        2
7       0.6       [feijão, iogurte]        2
8       0.6         [feijão, leite]        2
9       0.8          [feijão, ovos]        2
10      0.6  [cebola, feijão, ovos]        3

In [14]:
help(freq_items.apply)

Help on method apply in module pandas.core.frame:

apply(func, axis=0, broadcast=False, raw=False, reduce=None, args=(), **kwds) method of pandas.core.frame.DataFrame instance
    Applies function along input axis of DataFrame.

    Objects passed to functions are Series objects having index
    either the DataFrame's index (axis=0) or the columns (axis=1).
    Return type depends on whether passed function aggregates, or the
    reduce argument if the DataFrame is empty.

    Parameters
    ----------
    func : function
        Function to apply to each column/row
    axis : {0 or 'index', 1 or 'columns'}, default 0
        * 0 or 'index': apply function to each column
        * 1 or 'columns': apply function to each row
    broadcast : boolean, default False
        For aggregation functions, return object of same size with values
        propagated
    raw : boolean, default False
        If False, convert each row or column into a Series. If raw=True the
        passed function will receive ndarray objects instead. If you are
        just applying a NumPy reduction function this will achieve much
        better performance
    reduce : boolean or None, default None
        Try to apply reduction procedures. If the DataFrame is empty,
        apply will use reduce to determine whether the result should be a
        Series or a DataFrame. If reduce is None (the default), apply's
        return value will be guessed by calling func an empty Series (note:
        while guessing, exceptions raised by func will be ignored). If
        reduce is True a Series will always be returned, and if False a
        DataFrame will always be returned.
    args : tuple
        Positional arguments to pass to function in addition to the
        array/series
    Additional keyword arguments will be passed as keywords to the function

    Notes
    -----
    In the current implementation apply calls func twice on the
    first column/row to decide whether it can take a fast or slow
    code path. This can lead to unexpected behavior if func has
    side-effects, as they will take effect twice for the first
    column/row.

    Examples
    --------
    >>> df.apply(numpy.sqrt) # returns DataFrame
    >>> df.apply(numpy.sum, axis=0) # equiv to df.sum(0)
    >>> df.apply(numpy.sum, axis=1) # equiv to df.sum(1)

    See also
    --------
    DataFrame.applymap: For elementwise operations
    DataFrame.aggregate: only perform aggregating type operations
    DataFrame.transform: only perform transformating type operations

    Returns
    -------
    applied : Series or DataFrame

In [15]:
help(apriori)

Help on function apriori in module mlxtend.frequent_patterns.apriori:

apriori(df, min_support=0.5, use_colnames=False)
    Get frequent itemsets from a one-hot DataFrame
    Parameters
    -----------
    df : pandas DataFrame
      pandas DataFrame in one-hot encoded format. For example
      ```
             Apple  Bananas  Beer  Chicken  Milk  Rice
        0      1        0     1        1     0     1
        1      1        0     1        0     0     1
        2      1        0     1        0     0     0
        3      1        1     0        0     0     0
        4      0        0     1        1     1     1
        5      0        0     1        0     1     1
        6      0        0     1        0     1     0
        7      1        1     0        0     0     0
        ```
    min_support : float (default: 0.5)
      A float between 0 and 1 for minumum support of the itemsets returned.
      The support is computed as the fraction
      transactions_where_item(s)_occur / total_transactions.
    use_colnames : bool (default: False)
      If true, uses the DataFrames' column names in the returned DataFrame
      instead of column indices.
    Returns
    -----------
    pandas DataFrame with columns ['support', 'itemsets'] of all itemsets
    that are >= min_support.

In [16]:
freq_items[freq_items['Suporte'] == 1]

   Suporte ConjuntoItens  Tamanho
1      1.0      [feijão]        1

In [20]:
from mlxtend.frequent_patterns import association_rules

freq_items.columns = ['support', 'itemsets', 'tamanho']

association_rules(freq_items, metric='confidence')

        antecedants     consequents  support  confidence  lift
0          (cebola)        (feijão)      0.6         1.0  1.00
1          (cebola)          (ovos)      0.6         1.0  1.25
2         (iogurte)        (feijão)      0.6         1.0  1.00
3           (leite)        (feijão)      0.6         1.0  1.00
4          (feijão)          (ovos)      1.0         0.8  1.00
5            (ovos)        (feijão)      0.8         1.0  1.00
6  (cebola, feijão)          (ovos)      0.6         1.0  1.25
7    (cebola, ovos)        (feijão)      0.6         1.0  1.00
8          (cebola)  (feijão, ovos)      0.6         1.0  1.25